<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testng reporter">
    <test name="popUpTestShiLiu">
        <classes>
            <class name="sixrooms.cases.shiliu.PopUpTestShiLiu"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="sixrooms.base.ExtentTestNGIReporterListener" />
    </listeners>
</suite>